.popup__content {
  background-color: #fff;
  max-width: 430px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

.popup__content:hover {
  cursor: auto;
}

@media screen and (max-width: 630px) {
  .popup__content {
    max-width: 282px;
  }
}
