.profile__user-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 927px) {
  .profile__user-description {
    font-size: 14px;
    line-height: 1.21;
  }
}
