.profile__user-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}

@media screen and (max-width: 927px) {
  .profile__user-description {
    font-size: 14px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 768px) {
  .profile__user-description {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}
