.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 30px 0 0;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .profile__image {
    margin: 0 0 26px 0;
  }
}
