.grid-card__button {
  background-image: url('../../../images/grid-card/__button/checkbox-vector.svg');
  background-position: center;
  background-size: cover;
  background-color: #fff;
  width: 22px;
  height: 19px;
  border: none;
  padding: 1px 11px;
}

.grid-card__button:hover {
  cursor: pointer;
  animation: like 0.3s ease forwards;
}

@keyframes like {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}
