.profile__add-button {
  background-color: #000;
  background-image: url('../../../images/profile/__add-button/add-button.svg');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    background-size: 16px;
    width: 282px;
    margin: 36px 0 0;
  }
}
