.profile__add-button {
  background-color: #000;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.profile__add-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 282px;
    margin: 36px 0 0;
  }
}
